# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

#
# Drizzle


# get these from DB provider
POSTGRES_URL="yourURl"
POSTGRES_URL_NO_SSL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER="default"
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE="provider"

# auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=yourKey
CLERK_SECRET_KEY=yourSecretKey

# storage
UPLOADTHING_SECRET=yours
UPLOADTHING_APP_ID=yours

# for limit management 
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/signin # or yourURl
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/signup # or yourURl


SECRET=tokenSecret

